.container {
  margin: 120px auto;
  max-width: 600px;
  background-image: url("../img/cutting-board.jpg");
  background-size: cover;
}

.icon {
  text-align: center;
  font-size: 150px;
}

h1 {
  text-align: center;
  font-family: "Patrick Hand SC";
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-family: "Patrick Hand SC";
  font-size: 36px;
}

h3 {
  font-family: "Patrick Hand SC";
  font-size: 24px;
}

form {
  margin-bottom: 30px;
}
.instruction {
  padding: 16px;
  width: 80%;
}
.submit-button {
  padding: 16px;
}

footer {
  margin-top: 30px;
}
